#root {
  width: 100%;
  max-width: 430px;
  height: 100vh;
  max-height: 932px;
  margin: 0 auto;
  padding: 32px 24px;
  background-color: white;
  border-radius: 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media (min-width: 768px) {
  #root {
    border-radius: 16px;
    height: 90vh;
  }
}