#root {
  width: 100%;
  max-width: 400px;
  height: 700px;
  margin: 0 auto;
  padding: 24px 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

@media (min-width: 768px) {
  #root {
    border-radius: 16px;
  }
}